- name: Install nginx
  yum:
    name: nginx
    state: present

- name: Start nginx
  service:
    name: nginx
    state: started
    enabled: true

- name: Custom index page
  copy:
    content: "<h1>NGINX from {{ inventory_hostname }}</h1>"
    dest: /usr/share/nginx/html/index.html

